/*topNav section style***************************************************************************/
.topNav{
  grid-template-columns:.2fr 2.5fr;
}
.left{
  text-align:center;
  margin-top:10px;
}
.right ul{
  padding-left:0;
}
.right ul li{
  list-style-type: none;
  display:inline-block;
  margin-right:15px;
}
.right ul li a{
  text-decoration:none;
  font-size:.875rem;
  color:#000;
  font-family:Futura W01,Helvetica,Arial,Sans-serif;
  letter-spacing:.15rem;
  line-height:.8;
  transition-duration:.4s;
}
.right ul li a:hover{
  color:#E21B22;
  transition-duration:.4s;
}
/*header section style***************************************************************************/
.header{
  grid-template-columns:1.4fr .8fr .5fr;
}
/*.header .welcome p{
  font-family:Segoe UI Light;
}
.header .changing p{
  color:#F76EB7;
  font-size:20px;
  text-align:center;
}
.header .changing p span{
  background:linear-gradient(to right,#FF8666,#FF8BC7);
  border:0;
  outline:0;
  color:white;
  font-size:20px;
  padding:2px 5px;
}*/
.header .logo{
  text-align:center;
  margin-top:10px;
}
.header .logo img{
  width:200px;
}
/*rows style*****************************************************************************/
.container img {
 width: 100%;
 height:100%;
}
.container {
  position: relative;
  transition-duration:.6s;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .6s ease;
}
.middle { 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .6s ease;
  background-color: #F04F23;
  transition-duration:.6s;
}
.container:hover .middle {
  opacity: 1;
  transition-duration:.6s;
}
.text {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.text a{
  text-decoration:none;
  color:white;
}
.grid {
	display: grid;
	grid-gap: 14px;
}
.one {
	grid-template-columns: 2fr .27fr 1.2fr;
  margin-bottom: 10px;
}
.Two {
	grid-template-columns: 1.1fr 1fr 1fr .4fr;
  margin-bottom: 10px;
}
.Three {
	grid-template-columns: .62fr 1.2fr 1.8fr;
  padding-bottom: 10px;
}
/*framework section style*****************************************************************/
/*.promoted h1{
  text-align:center;
  color:#D72157;
  font-family: 'Basic', sans-serif;
  font-weight:normal;
}*/
.promoted .title{
  text-align:center;
  margin-top:30px;
  margin-bottom:10px;
}
.promoted .framework img{
  display:block;
  margin-bottom:10px;
  width:100%;
}
.framework{
  grid-template-columns:.5fr .5fr .5fr .5fr .5fr .5fr .5fr;
  border-bottom:5px solid #BA000E;
  padding-bottom:30px;
}
.framework a.headline{
  color:#a60505;
  border-bottom:1px solid #d4d0d0;
  text-decoration:none;
  padding-bottom:10px;
  font-size:11px;
  font-family:"Lato",sans-serif;
  line-height:13px;
  transition-duration:.5s;
}
.framework a.headline:hover{
  text-decoration:underline;
  color:#b45d5d;
  transition-duration:.5s;
}
.framework p a{
  font-family: "Playfair Display",Georgia,serif;
  font-weight:500;
  color:#000;
  font-size:16px;
  line-height:20px;
  text-decoration:none;
  transition-duration:.5s;

}
.framework p a:hover{
  text-decoration:underline;
  color:#b45d5d;
  transition-duration:.5s;
}
/*links section style*******************************************************************/
.links{
  grid-template-columns:.8fr .8fr .8fr .8fr;
  padding-bottom:10px;
  border-bottom:1px solid #d7d2cb;
}
.links ul li{
  list-style-type: none;
}
.links ul li span{
  color:#D5002B;
  font-size:18px;
}
.links ul li a{
  color:#2d373e;
  font-size:14px;
  text-decoration:none;
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}
.links ul li a:hover{
  text-decoration:underline;
}
.links2 ul,
.links3 ul,
.links4 ul{
  border-left:1px solid #d7d2cb;
  padding-left:15px;
}
.logoRight{
  margin-top:35px;
  text-align:center;
}
/*social media section style**********************************************************/
.socialMedia ul li{
  list-style-type: none;
  display:inline-block;
}
.socialMedia ul li a{
  width:35px;
  height:35px;
  color:white;
  font-size:25px;
  display:inline-block;
  line-height:35px;
  text-align:center;
}
.facebook{
  background-color:#3b5998;
}
.twitter{
  background-color:#38A1F3; 
}
.youtube{
  background-color:#ff0000; 
}
.linkedIn{
  background-color:#0077B5; 
}
.insta{
background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);  
}
/*bottom section style***************************************************************/
.bottom p{
  font-size:12px;
  color:#575f65;
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  padding-left:40px;
  line-height:1.42857143;
}
.bottom p a{
  color:red;
}
.bottom p a:hover{
  text-decoration:none;
}

/*media query**************************************************************************/
/*framework section in small screens*/
@media (max-width:1024px) and (min-width:768px){
  .framework{grid-template-columns:.7fr .7fr .7fr .7fr;}
}
@media (max-width:425px){
  .framework{grid-template-columns:1.75fr 1.75fr;}
}
/*links section in small screens*/
@media (max-width: 768px) {
  .links{grid-template-columns:3fr ;}
}


/*header style*/
/*.grid-container{
  grid-template-columns: auto auto auto auto auto auto auto auto;
  display:grid;
  grid-gap:5px;
}
.item1{
  grid-column-start:1;
  grid-column-end:4; 
}
.item2{
  grid-column-start:4;
  grid-column-end:6; 
}
.item3{
  grid-column-start:6;
  grid-column-end:8; 
}
.item4{
  grid-column-start:8;
  grid-column-end:9;
}
.grid-container .item1 img{
  width:auto;
  height:auto;
  margin-top:18px;
}
.grid-container .item2 p{
  color:#F76EB7;
  font-size:20px;
  text-align:right;
}
.grid-container .item3 button{
  background:linear-gradient(to right,#FF8666,#FF8BC7);
  border:0;
  outline:0;
  color:white;
  font-size:20px;
  width:100%;
  margin-top:18px;
}
.grid-container .item4 .logo{
  width:200px;
  float:right;
}*/
/*social media section style*/


