/*@import url('reset.css');*/
img {
 width: 100%;
}
.container {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
}

.middle { 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #F04F23

}

.container:hover .middle {
  opacity: 1;
}
.text {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.grid {
	display: grid;
	grid-gap: 14px;
}

.one {
	grid-template-columns: 2fr .27fr 1.2fr;
  margin-bottom: 10px;
}
.Two {
	grid-template-columns: 1.1fr 1fr 1fr .4fr;
  margin-bottom: 10px;

}
.Three {
	grid-template-columns: .62fr 1.2fr 1.8fr;
}
